@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common
@using BlazingRecept.Client.Extensions
@using BlazingRecept.Shared.Dto
@using BlazingRecept.Shared.Extensions

@inherits PageComponentBase

@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    if (RecipePage != null && RecipePage.RecipeDto != null)
    {
        <div class="table-responsive">
            <table class="table table-hover table-striped table-sm">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Mätning</th>
                        <th>Gram</th>
                        <th>Fett</th>
                        <th>Kolhydrater</th>
                        <th>Protein</th>
                        <th>Kalorier</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CheckableIngredientMeasurement checkableIngredientMeasurement in _checkableIngredientMeasurements)
                    {
                        IngredientMeasurementDto ingredientMeasurementDto = checkableIngredientMeasurement.IngredientMeasurementDto;
                        <tr class=@GetIngredientMeasurementRowClass(checkableIngredientMeasurement) @onclick="() => HandleRowClick(checkableIngredientMeasurement)">
                            <td>
                                @ingredientMeasurementDto.IngredientDto.Name
                                <NoteTooltipIcon IngredientMeasurementDto="@ingredientMeasurementDto" />
                            </td>
                            <td>@GetMeasurement(ingredientMeasurementDto)</td>
                            <td>@GetScaledGrams(ingredientMeasurementDto)</td>
                            <td>@GetScaledFat(ingredientMeasurementDto)</td>
                            <td>@GetScaledCarbohydrates(ingredientMeasurementDto)</td>
                            <td>@GetScaledProtein(ingredientMeasurementDto)</td>
                            <td>@GetScaledCalories(ingredientMeasurementDto)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td><b>@GetScaledTotalGrams()</b></td>
                        <td><b>@GetScaledTotalFat()</b></td>
                        <td><b>@GetScaledTotalCarbohydrates()</b></td>
                        <td><b>@GetScaledTotalProtein()</b></td>
                        <td><b>@GetScaledTotalCalories()</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
}
