@using BlazingRecept.Client.Components.Utilities;
@using BlazingRecept.Client.Extensions
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared.Dto

@inherits ComponentBase

@foreach(KeyValuePair<char, List<RecipeDto>> pair in _recipeCategories.OrderBy(pair => pair.Key))
{
    <hr />
    <div class="row">
        <div class="d-flex">
            <div class="flex-shrink-1 me-4">
                <h2>@char.ToUpperInvariant(pair.Key)</h2>
            </div>
            <div class="flex-fill">
                <div class="mb-2">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <p>Protein per portion</p>
                        </div>
                        <div class="col">
                            <p>Calories per portion</p>
                        </div>
                        <div class="col">
                            <p>Protein per calorie</p>
                        </div>
                    </div>
                </div>
                @foreach (RecipeDto recipeDto in _recipeCategories[pair.Key])
                {
                    <div class="mb-2">
                        <div class="row" @onclick="@(_ => HandleRecipeNavigation(recipeDto))" >
                            <div class="col">
                                <a href="" class="link-dark text-decoration-none" @onclick:preventDefault>@recipeDto.Name</a>
                            </div>
                            <div class="col">
                                <a href="" class="link-dark text-decoration-none" @onclick:preventDefault>@recipeDto.GetProteinPerPortion()</a>
                            </div>
                            <div class="col">
                                <a href="" class="link-dark text-decoration-none" @onclick:preventDefault>@recipeDto.GetCaloriesPerPortion()</a>
                            </div>
                            <div class="col">
                                <a href="" class="link-dark text-decoration-none" @onclick:preventDefault>@recipeDto.GetProteinPerCalorie()</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


}