@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common;
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared
@using static BlazingRecept.Shared.Enums

@inherits PageComponentBase

<Modal @ref="_modal" Title="Lägg till ingrediens">
    <Body>
        <EditForm id="@_editFormId" EditContext="_editContext" OnValidSubmit="@HandleValidFormSubmitted">
            <CustomValidation @ref="_customValidation" />
            <div class="row mb-2">
                <div class="col">
                    <BlazoredTypeahead id="name"
                                       placeholder="Ange namn"
                                       SearchMethod="SearchForIngredients"
                                       @bind-Value="_form.IngredientDto">
                        <SelectedTemplate Context="ingredientDto">
                            @if(ingredientDto != null)
                            {
                                @ingredientDto.Name
                            }
                        </SelectedTemplate>
                        <ResultTemplate Context="ingredientDto">
                            @ingredientDto.Name
                        </ResultTemplate>
                    </BlazoredTypeahead>
                    <ValidationMessage For="() => _form.IngredientDto" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="input-group"> 
                        <input type="text" id="measurement" class="form-control" placeholder="Ange mängd" @bind="_form!.Measurement">
                        <select class="form-select" @bind="_form!.MeasurementUnit">
                            @foreach (MeasurementUnit measurementUnit in Enum.GetValues(typeof(MeasurementUnit)))
                            {
                                if (measurementUnit == MeasurementUnit.Unassigned)
                                {
                                    <option value="@measurementUnit">Ange mätningstyp</option>
                                }
                                else
                                {
                                    <option value="@measurementUnit">@measurementUnit.ToSymbol()</option>
                                }
                            }
                        </select>
                    </div>
                    <ValidationMessage For="() => _form.Measurement" />
                    <ValidationMessage For="() => _form.MeasurementUnit" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input type="text" id="grams" class="form-control" placeholder="Ange gram" @bind="_form!.Grams">
                    <ValidationMessage For="() => _form.Grams" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input type="text" id="note" class="form-control" placeholder="Ange anteckning" @bind="_form!.Note">
                </div>
            </div>
        </EditForm>
    </Body>
    <Buttons>
        <button form="@_editFormId" class="btn btn-primary" type="submit">Lägg till</button>
        <button class="btn btn-secondary" type="button" @onclick="@(_ => HandleCancel())">Avbryt</button>
    </Buttons>
</Modal>