@using BlazingRecept.Client.Components.Utilities;
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared
@using static BlazingRecept.Shared.Enums

@inherits ComponentBase

<Modal @ref="_modal" Title="Add ingredient">
    <Body>
        <EditForm id="@_editFormId" EditContext="_editContext" OnValidSubmit="@HandleValidFormSubmitted">
            <CustomValidation @ref="_customValidation" />
            <div class="row mb-2">
                <label for="name" class="col-3 col-form-label">Name</label>
                <div class="col-9">
                    <BlazoredTypeahead id="name"
                                       SearchMethod="SearchForIngredients"
                                       @bind-Value="_form.IngredientDto">
                        <SelectedTemplate Context="ingredientDto">
                            @ingredientDto.Name
                        </SelectedTemplate>
                        <ResultTemplate Context="ingredientDto">
                            @ingredientDto.Name
                        </ResultTemplate>
                    </BlazoredTypeahead>
                    <ValidationMessage For="() => _form.IngredientDto" />
                </div>
            </div>
            <div class="row mb-2">
                <label for="measurement" class="col-3 col-form-label">Measurement</label>
                <div class="col-9">
                    <div class="input-group">
                        <input type="text" id="measurement" class="form-control" @bind="_form!.Measurement">
                        <select class="form-select" @bind="_form!.MeasurementUnit">
                            @foreach (MeasurementUnit measurementUnit in Enum.GetValues(typeof(MeasurementUnit)))
                            {
                                if (measurementUnit == MeasurementUnit.Unassigned)
                                {
                                    <option value="@measurementUnit">Choose...</option>
                                }
                                else
                                {
                                    <option value="@measurementUnit">@measurementUnit.ToSymbol()</option>
                                }
                            }
                        </select>
                    </div>
                    <ValidationMessage For="() => _form.Measurement" />
                    <ValidationMessage For="() => _form.MeasurementUnit" />
                </div>
            </div>
            <div class="row mb-2">
                <label for="grams" class="col-3 col-form-label">Grams</label>
                <div class="col-9">
                    <input type="text" id="grams" class="form-control" @bind="_form!.Grams">
                    <ValidationMessage For="() => _form.Grams" />
                </div>
            </div>
            <div class="row mb-2">
                <label for="note" class="col-3 col-form-label">Note</label>
                <div class="col-9">
                    <input type="text" id="note" class="form-control" @bind="_form!.Note">
                </div>
            </div>
        </EditForm>
    </Body>
    <Buttons>
        <button form="@_editFormId" class="btn btn-primary" type="submit">Add</button>
        <button class="btn btn-secondary" type="button" @onclick="@(_ => HandleCancel())">Cancel</button>
    </Buttons>
</Modal>