@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common;
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared
@using static BlazingRecept.Shared.Enums

@inherits PageComponentBase

<Modal @ref="_modal" Title="Uppdatera ingrediens">
    <Body>
        <EditForm id="@_editFormId" EditContext="_editContext" OnValidSubmit="@HandleValidFormSubmitted">
            <CustomValidation @ref="_customValidation" />
            <div class="row mb-2">
                <div class="col">
                    <div class="input-group">
                        <input type="text" id="measurement" class="form-control" placeholder="Ange mängd" @bind="_form!.Measurement">
                        <select class="form-select" @bind="_form!.MeasurementUnit">
                            @foreach (MeasurementUnit measurementUnit in Enum.GetValues(typeof(MeasurementUnit)))
                            {
                                if (measurementUnit != MeasurementUnit.Unassigned)
                                {
                                    <option value="@measurementUnit">@measurementUnit.ToSymbol()</option>
                                }
                            }
                        </select>
                    </div>
                    <ValidationMessage For="() => _form.Measurement" />
                    <ValidationMessage For="() => _form.MeasurementUnit" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input type="text" id="grams" class="form-control" placeholder="Ange gram" @bind="_form!.Grams">
                    <ValidationMessage For="() => _form.Grams" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input type="text" id="note" class="form-control" placeholder="Ange anteckning" @bind="_form!.Note">
                </div>
            </div>
        </EditForm>
    </Body>
    <Buttons>
        <button form="@_editFormId" class="btn btn-primary" type="submit">Uppdatera</button>
        <button class="btn btn-secondary" type="button" @onclick="@(_ => HandleCancel())">Avbryt</button>
    </Buttons>
</Modal>