@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Utilities;
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared.Dto

@inherits PageComponentBase

<PageTitle>Ingredienser</PageTitle>

<div class="card mb-2">
    <div class="card-body">
        <CollapsibleComponent CollapsedButtonText="Visa ingrediensformulär" ExposedButtonText="Göm ingrediensformulär">
            <EditForm Model="_form" OnValidSubmit="@HandleValidFormSubmitted">
                <CustomValidation @ref="_customValidation" />
                <div class="form-floating mb-2">
                    <input type="text" id="name" name="name" class="form-control" @bind="_form.Name" @onblur="@(_ => HandleNameBlur())" placeholder="Namn">
                    <label for="name">Namn</label>
                    <ValidationMessage For="() => _form.Name" />
                </div>
                <div class="form-floating mb-2">
                    <input type="text" id="fat" name="fat" class="form-control" @bind="_form.Fat" placeholder="Fett">
                    <label for="fat">Fett</label>
                    <ValidationMessage For="() => _form.Fat" />
                </div>
                <div class="form-floating mb-2">
                    <input type="text" id="carbohydrates" name="carbohydrates" class="form-control" @bind="_form.Carbohydrates" placeholder="Kolhydrater">
                    <label for="carbohydrates">Kolhydrater</label>
                    <ValidationMessage For="() => _form.Carbohydrates" />
                </div>
                <div class="form-floating mb-2">
                    <input type="text" id="protein" name="protein" class="form-control" @bind="_form.Protein" placeholder="Protein">
                    <label for="protein">Protein</label>
                    <ValidationMessage For="() => _form.Protein" />
                </div>
                <div class="form-floating mb-2">
                    <input type="text" id="calories" name="calories" class="form-control" @bind="_form.Calories" placeholder="Kalorier">
                    <label for="calories">Kalorier</label>
                    <ValidationMessage For="() => _form.Calories" />
                </div>
                <div class="form-group mb-2">
                    <select id="category-selector" name="category-selector" class="form-select" @bind="_form.CategoryDtoId">
                        <option value="@Guid.Empty">Ange kategori...</option>
                        @if (_categoryDtos != null)
                        {
                            foreach (CategoryDto categoryDto in _categoryDtos)
                            {
                                <option value="@categoryDto.Id">@categoryDto.Name</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="() => _form.CategoryDtoId" />
                </div>
                <button class="btn btn-primary" type="submit">Lägg till ingrediens</button>
            </EditForm>
        </CollapsibleComponent>
    </div>
</div>
