@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common
@using BlazingRecept.Shared.Dto

@inherits PageComponentBase

<RemovalConfirmationModal Type="IngredientDto" @ref="_removalConfirmationModal" OnConfirm="HandleIngredientRemovalConfirmed" />

@if (IngredientCollectionTypeDto != null)
{
    <div class="card mb-2">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h2>@IngredientCollectionTypeDto.Name</h2>
                <HxCollapseToggleButton CssClass="table-ingredient-collapse-button" Text="@_collapseButtonText" CollapseTarget="@GetCollapsableTableTargetId(IngredientCollectionTypeDto)" Color="ThemeColor.Primary" style="@_collapseButtonStyle" />
            </div>
            <HxCollapse CssClass="show" Id="@GetCollapsableTableId(IngredientCollectionTypeDto)" OnShown="@HandleCollapseShown" OnHidden="@HandleCollapseHidden">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th class="col-3">Namn</th>
                                <th class="col-2">Fett</th>
                                <th class="col-2">Kolhydrater</th>
                                <th class="col-2">Protein</th>
                                <th class="col-2">Kalorier</th>
                                <AuthorizeView>
                                    <th class="col-1">Åtgärder</th>
                                </AuthorizeView>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (IngredientDto ingredientDto in IngredientCollectionTypeDto.Ingredients)
                            {
                                if (_uneditedIngredientDto != null && _uneditedIngredientDto.Id == ingredientDto.Id)
                                {
                                    <tr id="@ingredientDto.Id">
                                        <td class="col-3">
                                            <input type="text" id="name" name="name" class="form-control" @bind="@ingredientDto.Name" placeholder="@ingredientDto.Name">
                                        </td>
                                        <td class="col-2">
                                            <input type="number" step="0.01" min="0.01" id="fat" name="fat" class="form-control" @bind="@ingredientDto.Fat">
                                        </td>
                                        <td class="col-2">
                                            <input type="number" step="0.01" min="0.01" id="carbohydrates" name="carbohydrates" class="form-control" @bind="@ingredientDto.Carbohydrates">
                                        </td>
                                        <td class="col-2">
                                            <input type="number" step="0.01" min="0.01" id="protein" name="protein" class="form-control" @bind="@ingredientDto.Protein">
                                        </td>
                                        <td class="col-2">
                                            <input type="number" step="0.01" min="0.01" id="calories" name="calories" class="form-control" @bind="@ingredientDto.Calories">
                                        </td>
                                        <AuthorizeView>
                                            <td class="col-1">
                                                <button class="btn btn-success btn-sm" @onclick="() => HandleIngredientEditConfirmed(ingredientDto)">
                                                    <i class="fa-solid fa-check"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm" @onclick="() => HandleIngredientEditCancel(ingredientDto)">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </td>
                                        </AuthorizeView>
                                    </tr>
                                }
                                else
                                {
                                    <tr id="@ingredientDto.Id">
                                        <td class="col-3">@ingredientDto.Name</td>
                                        <td class="col-2">@ingredientDto.Fat</td>
                                        <td class="col-2">@ingredientDto.Carbohydrates</td>
                                        <td class="col-2">@ingredientDto.Protein</td>
                                        <td class="col-2">@ingredientDto.Calories</td>
                                        <AuthorizeView>
                                            <td class="col-1">
                                                <button class="btn btn-primary btn-sm" @onclick="() => HandleIngredientEditClicked(ingredientDto)">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm" @onclick="() => HandleIngredientRemovalModalOpen(ingredientDto)">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </td>
                                        </AuthorizeView>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </HxCollapse>
        </div>
    </div>
}
