@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common;
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared.Dto

@inherits PageComponentBase

<div class="card mb-2">
    <div class="card-body">
        <HxCollapseToggleButton Text="@GetCollapseToggleTitle()" CollapseTarget="#ingredient-input-form" Color="ThemeColor.Primary" />
        <HxCollapse Id="ingredient-input-form" OnShown="@HandleCollapseShown" OnHidden="@HandleCollapseHidden">
            <EditForm id="@_editFormId" EditContext="_editContext" OnValidSubmit="@HandleValidFormSubmitted">
                <CustomValidation @ref="_customValidation" />
                <div class="row my-2">
                    <div class="col-12 col-md-9 col-lg-7">
                        <input type="text" id="name" name="name" class="form-control" @ref="_nameInput" @bind="_form.Name" @onblur="@(_ => HandleNameBlur())" placeholder="Ange namn">
                        <ValidationMessage For="() => _form.Name" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-md-9 col-lg-7 ">
                        <input type="number" step="0.1" id="fat" name="fat" class="form-control" @bind="_form.Fat" placeholder="Ange fettvärde">
                        <ValidationMessage For="() => _form.Fat" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-md-9 col-lg-7">
                        <input type="number" step="0.1" id="carbohydrates" name="carbohydrates" class="form-control" @bind="_form.Carbohydrates" placeholder="Ange kolhydratvärde">
                        <ValidationMessage For="() => _form.Carbohydrates" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-md-9 col-lg-7">
                        <input type="number" step="0.1" id="protein" name="protein" class="form-control" @bind="_form.Protein" placeholder="Ange proteinvärde">
                        <ValidationMessage For="() => _form.Protein" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-md-9 col-lg-7">
                        <input type="number" step="0.1" id="calories" name="calories" class="form-control" @bind="_form.Calories" placeholder="Ange kalorivärde">
                        <ValidationMessage For="() => _form.Calories" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-md-9 col-lg-7">
                        <select id="category-selector" name="category-selector" class="form-select" @bind="_form.CategoryDtoId">
                            <option value="@Guid.Empty" disabled selected>Ange kategori</option>
                            @if (_categoryDtos != null)
                            {
                                foreach (CategoryDto categoryDto in _categoryDtos)
                                {
                                    <option value="@categoryDto.Id">@categoryDto.Name</option>
                                }
                            }
                        </select>
                        <ValidationMessage For="() => _form.CategoryDtoId" />
                    </div>
                </div>
                <div>
                    <ProcessingButton @ref="_processingButtonSubmit" Label="Lägg till" EditFormId="@_editFormId" />
                </div>
            </EditForm>
        </HxCollapse>
    </div>
</div>
