@using BlazingRecept.Client.Components.Utilities
@using BlazingRecept.Shared.Dto

@inherits ComponentBase

<RemovalConfirmationModal Type="IngredientDto" @ref="_removalConfirmationModal" OnConfirm="HandleIngredientRemovalConfirmed" />
<div class="card mb-2">
    <div class="card-body">
        @for (int index = 0; index < IngredientsPage?.IngredientCollectionTypes?.Count; ++index)
        {
            <h2>@IngredientsPage.IngredientCollectionTypes[index].Name</h2>
            <table class="table table-hover table-striped table-sm">
                <thead>
                    <tr>
                        <th class="col-3">Name</th>
                        <th class="col-2">Fat</th>
                        <th class="col-2">Carbohydrates</th>
                        <th class="col-2">Protein</th>
                        <th class="col-2">Calories</th>
                        <AuthorizeView>
                            <th class="col-1">Actions</th>
                        </AuthorizeView>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IngredientDto ingredientDto in IngredientsPage.IngredientCollectionTypes[index].Ingredients)
                    {
                        if (_editingIngredientGuid == ingredientDto.Id)
                        {
                            <tr id="@ingredientDto.Id">
                                <td class="col-3">
                                    <input type="text" id="name" name="name" class="form-control" @bind="@ingredientDto.Name" placeholder="@ingredientDto.Name">
                                </td>
                                <td class="col-2">
                                    <input type="text" id="fat" name="fat" class="form-control" @bind="@ingredientDto.Fat" placeholder="@ingredientDto.Fat">
                                </td>
                                <td class="col-2">
                                    <input type="text" id="carbohydrates" name="carbohydrates" class="form-control" @bind="@ingredientDto.Carbohydrates" placeholder="@ingredientDto.Carbohydrates">
                                </td>
                                <td class="col-2">
                                    <input type="text" id="protein" name="protein" class="form-control" @bind="@ingredientDto.Protein" placeholder="@ingredientDto.Protein">
                                </td>
                                <td class="col-2">
                                    <input type="text" id="calories" name="calories" class="form-control" @bind="@ingredientDto.Calories" placeholder="@ingredientDto.Calories">
                                </td>
                                <AuthorizeView>
                                    <td class="col-1">
                                        <button class="btn btn-success btn-sm" @onclick="() => HandleIngredientEditConfirmed(ingredientDto)">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" @onclick="() => HandleIngredientEditCancel()">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </td>
                                </AuthorizeView>
                            </tr>
                        }
                        else
                        {
                            <tr id="@ingredientDto.Id">
                                <td class="col-3">@ingredientDto.Name</td>
                                <td class="col-2">@ingredientDto.Fat</td>
                                <td class="col-2">@ingredientDto.Carbohydrates</td>
                                <td class="col-2">@ingredientDto.Protein</td>
                                <td class="col-2">@ingredientDto.Calories</td>
                                <AuthorizeView>
                                    <td class="col-1">
                                        <button class="btn btn-primary btn-sm" @onclick="() => HandleIngredientEditClicked(ingredientDto.Id)">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" @onclick="() => HandleIngredientRemovalModalOpen(ingredientDto)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </AuthorizeView>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>
