@using BlazingRecept.Shared.Dto
@inherits ComponentBase

<RemovalConfirmationModal @ref="_removalConfirmationModal" OnConfirm="OnIngredientRemoved" />
<div class="card mb-2">
    <div class="card-body">
        @for (int index = 0; index < IngredientsPage?.IngredientCollectionTypes?.Count; ++index)
        {
            <h2>@IngredientsPage.IngredientCollectionTypes[index].Name</h2>
            <table class="table table-hover table-striped table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Fat</th>
                        <th>Carbohydrates</th>
                        <th>Protein</th>
                        <th>Calories</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IngredientDto ingredientDto in IngredientsPage.IngredientCollectionTypes[index].Ingredients)
                    {
                        <tr id="@ingredientDto.Id">
                            <td>@ingredientDto.Name</td>
                            <td>@ingredientDto.Fat</td>
                            <td>@ingredientDto.Carbohydrates</td>
                            <td>@ingredientDto.Protein</td>
                            <td>@ingredientDto.Calories</td>
                            <td>
                                <button class="btn btn-primary btn-sm" @onclick="() => OnIngredientEditClick()">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" @onclick="() => OnIngredientRemovalModalOpen(ingredientDto)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
