@page "/recipe/{RecipeId:guid}"

@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Utilities
@using BlazingRecept.Client.Extensions
@using BlazingRecept.Shared.Dto
@using Markdig
@using Radzen
@using Radzen.Blazor

@inherits PageComponentBase

<PageTitle>Recept</PageTitle>

@if (IsLoading || _recipeDto == null)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    <RemovalConfirmationModal Type="RecipeDto" @ref="_removalConfirmationModal" OnConfirm="HandleRecipeRemovalConfirmed" />
    <div class="d-flex justify-content-between">
        <div>
            <h1>@_recipeDto.Name</h1>
        </div>
        <div class="flex-shrink-1">
            <AuthorizeView>
                <button class="btn btn-primary" @onclick="() => HandleNavigationToEditRecipe(_recipeDto)">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="btn btn-danger" @onclick="() => HandleRecipeRemovalModalOpen(_recipeDto)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </AuthorizeView>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <h3>Portioner: @_recipeDto.PortionAmount</h3>
        </div>
        <div class="flex-shrink-1">
            <h3>@_recipeDto.CategoryDto.Name</h3>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            @if (ContainsInstructions())
            {
                <h2>Instruktioner</h2>
                <div class="card mb-2">
                    <div class="card-body">
                        @((MarkupString) Markdown.ToHtml(_recipeDto.Instructions))
                    </div>
                </div>
            }
            <h2>Ingredienser</h2>
            <div class="table-responsive">
                <table class="table table-hover table-striped table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Namn</th>
                            <th>Mätning</th>
                            <th>Gram</th>
                            <th>Fett</th>
                            <th>Kolhydrater</th>
                            <th>Protein</th>
                            <th>Kalorier</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CheckableIngredientMeasurement checkableIngredientMeasurement in _checkableIngredientMeasurements)
                        {
                            IngredientMeasurementDto ingredientMeasurementDto = checkableIngredientMeasurement.IngredientMeasurementDto;
                            <tr class=@GetIngredientMeasurementRowClass(checkableIngredientMeasurement)>
                                <td><input class="form-check-input" type="checkbox" @bind="@checkableIngredientMeasurement.IsChecked"></td>
                                <td>@ingredientMeasurementDto.IngredientDto.Name</td>
                                <td>@GetMeasurement(ingredientMeasurementDto)</td>
                                <td>@ingredientMeasurementDto.Grams</td>
                                <td>@ingredientMeasurementDto.IngredientDto.Fat</td>
                                <td>@ingredientMeasurementDto.IngredientDto.Carbohydrates</td>
                                <td>@ingredientMeasurementDto.IngredientDto.Protein</td>
                                <td>@ingredientMeasurementDto.IngredientDto.Calories</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td><b>Total</b></td>
                            <td></td>
                            <td><b>@_recipeDto.GetTotalGrams()</b></td>
                            <td><b>@_recipeDto.GetTotalFat()</b></td>
                            <td><b>@_recipeDto.GetTotalCarbohydrates()</b></td>
                            <td><b>@_recipeDto.GetTotalProtein()</b></td>
                            <td><b>@_recipeDto.GetTotalCalories()</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div>
                <table class="table table-hover table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Gram per portion</th>
                            <th>Protein per portion</th>
                            <th>Kalorier per portion</th>
                            <th>Protein per kalori</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@_recipeDto.GetGramsPerPortion()</td>
                            <td>@_recipeDto.GetProteinPerPortion()</td>
                            <td>@_recipeDto.GetCaloriesPerPortion()</td>
                            <td>@_recipeDto.GetProteinPerCalorie()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @if (_nutritionalChartItems != null && _nutritionalChartItems.Length > 0)
    {
        <div class="row">
            <RadzenChart>
                <RadzenPieSeries Data="@_nutritionalChartItems" CategoryProperty="Label" ValueProperty="Value" >
                    <TooltipTemplate Context="data">
                        <div>
                            <span>@data.Label</span>:
                            <strong>@data.Value</strong>
                        </div>
                    </TooltipTemplate>
                </RadzenPieSeries>
                <RadzenLegend Position="LegendPosition.Top" />
            </RadzenChart>
        </div>
    }
}
