@page "/recipe/{RecipeId:guid}"

@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.PageComponents.RecipePage
@using BlazingRecept.Client.Components.Utilities
@using BlazingRecept.Client.Extensions
@using BlazingRecept.Shared.Dto
@using Markdig
@using Radzen
@using Radzen.Blazor

@inherits PageComponentBase

<PageTitle>Recept</PageTitle>

@if (IsLoading || RecipeDto == null)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    <CascadingValue Value="this">
        <RemovalConfirmationModal Type="RecipeDto" @ref="_removalConfirmationModal" OnConfirm="HandleRecipeRemovalConfirmed" />
        <div class="d-flex justify-content-between">
            <div>
                <h1>@RecipeDto.Name</h1>
            </div>
            <div class="flex-shrink-1">
                <AuthorizeView>
                    <button class="btn btn-primary" @onclick="() => HandleNavigationToEditRecipe(RecipeDto)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-danger" @onclick="() => HandleRecipeRemovalModalOpen(RecipeDto)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </AuthorizeView>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <h3>Portioner: @RecipeDto.PortionAmount</h3>
            </div>
            <div class="flex-shrink-1">
                <h3>@RecipeDto.CategoryDto.Name</h3>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                @if (ContainsInstructions())
                {
                    <h2>Instruktioner</h2>
                    <div class="card mb-2">
                        <div class="card-body">
                            @((MarkupString) Markdown.ToHtml(RecipeDto.Instructions))
                        </div>
                    </div>
                }
            <h2>Ingredienser</h2>
            <RecipeIngredientMeasurementTable />
            </div>
        </div>
        @if (_nutritionalChartItems != null && _nutritionalChartItems.Length > 0)
        {
            <div class="row">
                <RadzenChart>
                    <RadzenPieSeries Data="@_nutritionalChartItems" CategoryProperty="Label" ValueProperty="Value">
                        <TooltipTemplate Context="data">
                            <div>
                                <span>@data.Label</span>:
                                <strong>@data.Value</strong>
                            </div>
                        </TooltipTemplate>
                    </RadzenPieSeries>
                    <RadzenLegend Position="LegendPosition.Top" />
                </RadzenChart>
            </div>
        }
    </CascadingValue>
}
