@page "/recipe/{RecipeId:guid}"

@using BlazingRecept.Client.Components.PageComponents.RecipePage
@using BlazingRecept.Client.Components.Common
@using BlazingRecept.Client.Extensions
@using BlazingRecept.Client.Pages.Base
@using BlazingRecept.Shared.Dto
@using Markdig

@inherits PageBase

<PageTitle>Recept</PageTitle>

@if (IsLoading || RecipeDto == null)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    <CascadingValue Value="this">
        <RemovalConfirmationModal Type="RecipeDto" @ref="_removalConfirmationModal" OnConfirm="HandleRecipeRemovalConfirmed" />
        <div class="d-flex justify-content-between">
            <div>
                <h1>@RecipeDto.Name</h1>
            </div>
            <div class="flex-shrink-1">
                <AuthorizeView>
                    <button class="btn btn-primary" @onclick="() => HandleNavigationToEditRecipe(RecipeDto)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-danger" @onclick="() => HandleRecipeRemovalModalOpen(RecipeDto)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </AuthorizeView>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <PortionSlider Value="@CurrentPortionAmount" ValueChanged="@OnPortionAmountChanged" />
            </div>
            <div class="flex-shrink-1">
                <h3>@RecipeDto.CategoryDto.Name</h3>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                @if (ContainsInstructions())
                {
                    <h2>Instruktioner</h2>
                    <div class="card mb-2">
                        <div class="card-body">
                            @((MarkupString) Markdown.ToHtml(RecipeDto.Instructions))
                        </div>
                    </div>
                }
            <h2>Ingredienser</h2>
            <IngredientMeasurementTable />
            </div>
        </div>
        <RecipeNutritionChart />
    </CascadingValue>
}
