@page "/recipeworkbench"
@page "/recipeworkbench/{RecipeId:guid}"

@using BlazingRecept.Client.Components.PageComponents.RecipeWorkbenchPage
@using BlazingRecept.Client.Components.Utilities
@using BlazingRecept.Client.Pages.Base
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared.Dto
@using Markdig

@inherits PageBase

<PageTitle>@GetTitle()</PageTitle>

<h1>@GetTitle()</h1>
@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    <CascadingValue Value=@this>
        <AddIngredientMeasurementModal @ref="_addIngredientMeasurementModal" />
        <EditIngredientMeasurementModal @ref="_editIngredientMeasurementModal" />
        <RemovalConfirmationModal Type="IngredientDto" @ref="_removalConfirmationModal" OnConfirm="HandleIngredientRemovalConfirmed" />
        <div class="card mb-2">
            <div class="card-body">
                <EditForm Model="_form" OnValidSubmit="@HandleValidFormSubmitted">
                    <CustomValidation @ref="_customValidation" />
                    <div class="row mb-2">
                        <div class="col-12 col-xl-10 col-xxl-8">
                            <input type="number" id="name" name="name" class="form-control" @ref="_nameInput" @bind="_form.Name" placeholder="Ange namn">
                            <ValidationMessage For="() => _form.Name" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-xl-10 col-xxl-8">
                            <input type="number" id="portion-amount" name="portion-amount" class="form-control" @bind="_form.PortionAmount" placeholder="Ange antal portioner">
                            <ValidationMessage For="() => _form.PortionAmount" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-xl-10 col-xxl-8">
                            <select id="category-selector" name="category-selector" class="form-select" @bind="_form.CategoryDtoId">
                                <option value="@Guid.Empty" disabled selected>Ange kategori</option>
                                @if (_categoryDtos != null)
                                {
                                    foreach (CategoryDto categoryDto in _categoryDtos)
                                    {
                                        <option value="@categoryDto.Id">@categoryDto.Name</option>
                                    }
                                }
                            </select>
                            <ValidationMessage For="() => _form.CategoryDtoId" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-xl-10 col-xxl-8">
                            <div class="mb-2">
                                <textarea id="instructions" name="instructions" class="form-control" @bind="_form.Instructions" @bind:event="oninput" placeholder="Ange instruktioner" style="height: 200px"></textarea>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    @if (string.IsNullOrWhiteSpace(_form.Instructions))
                                    {
                                        <p>Markdown baserat på angivna instruktioner ovan kommer synas här</p>
                                    }
                                    else
                                    {
                                        @((MarkupString) Markdown.ToHtml(_form.Instructions))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <a class="link-primary" href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown Cheat Sheet</a>
                    </p>
                    <div class="row mb-2">
                        <div class="col-12 col-xl-10 col-xxl-8">
                            <div class="card">
                                <IngredientMeasurementWorkbenchTable />
                                <div class="ms-2 mb-2">
                                    <button type="button" class="btn btn-primary" @onclick="@(_ => HandleAddIngredientModalOpen())">Lägg till</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <button type="submit" class="btn btn-primary">@GetConfirmationButtonLabel()</button>
                    </div>
                    <ValidationMessage For="() => _form.RecipeCreationErrorMessage" />
                </EditForm>
            </div>
        </div>
    </CascadingValue>
}
