@page "/recipe/{RecipeId:guid}"

@using BlazingRecept.Client.Components.Utilities
@using BlazingRecept.Client.Extensions
@using BlazingRecept.Shared.Dto
@using Markdig

@inherits ComponentBase

<PageTitle>Recipe</PageTitle>

@if (_recipeDto != null)
{

    <RemovalConfirmationModal Type="RecipeDto" @ref="_removalConfirmationModal" OnConfirm="HandleIngredientRemovalConfirmed" />
    <div class="d-flex justify-content-between">
        <div>
            <h1>@_recipeDto.Name</h1>
        </div>
        <div class="flex-shrink-1">
            <AuthorizeView>
                <button class="btn btn-primary" @onclick="() => HandleNavigationToEditRecipe(_recipeDto)">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="btn btn-danger" @onclick="() => HandleIngredientRemovalModalOpen(_recipeDto)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </AuthorizeView>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <h3>Portions: @_recipeDto.PortionAmount</h3>
        </div>
        <div class="flex-shrink-1">
            <h3>@_recipeDto.CategoryDto.Name</h3>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            @if (ContainsInstructions())
            {
                <h2>Instructions</h2>
                <div class="card mb-2">
                    <div class="card-body">
                        @((MarkupString) Markdown.ToHtml(_recipeDto.Instructions))
                    </div>
                </div>
            }
            <h2>Ingredients</h2>
            <div class="card mb-2">
                <div class="card-body">
                    <table class="table table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Measurement</th>
                                <th>Grams</th>
                                <th>Note</th>
                                <th>Fat</th>
                                <th>Carbohydrates</th>
                                <th>Protein</th>
                                <th>Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (IngredientMeasurementDto ingredientMeasurementDto in _recipeDto.IngredientMeasurementDtos)
                            {
                                <tr>
                                    <td>@ingredientMeasurementDto.IngredientDto.Name</td>
                                    <td>@GetMeasurement(ingredientMeasurementDto)</td>
                                    <td>@ingredientMeasurementDto.Grams</td>
                                    <td>@ingredientMeasurementDto.Note</td>
                                    <td>@ingredientMeasurementDto.IngredientDto.Fat</td>
                                    <td>@ingredientMeasurementDto.IngredientDto.Carbohydrates</td>
                                    <td>@ingredientMeasurementDto.IngredientDto.Protein</td>
                                    <td>@ingredientMeasurementDto.IngredientDto.Calories</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><b>Total</b></td>
                                <td></td>
                                <td><b>@_recipeDto.GetTotalGrams()</b></td>
                                <td></td>
                                <td><b>@_recipeDto.GetTotalFat()</b></td>
                                <td><b>@_recipeDto.GetTotalCarbohydrates()</b></td>
                                <td><b>@_recipeDto.GetTotalProtein()</b></td>
                                <td><b>@_recipeDto.GetTotalCalories()</b></td>
                            </tr>
                        </tfoot>
                    </table>
                    <table class="table table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Grams per portion</th>
                                <th>Protein per portion</th>
                                <th>Calories per portion</th>
                                <th>Protein per calorie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@_recipeDto.GetGramsPerPortion()</td>
                                <td>@_recipeDto.GetProteinPerPortion()</td>
                                <td>@_recipeDto.GetCaloriesPerPortion()</td>
                                <td>@_recipeDto.GetProteinPerCalorie()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1>Something went wrong...</h1>
}
