@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common;
@using BlazingRecept.Client.Utilities;
@using BlazingRecept.Shared
@using static BlazingRecept.Shared.Enums

@inherits PageComponentBase

<HxModal @ref="_modal" Title="Lägg till produkt" OnShown="@HandleOnShown" >
    <BodyTemplate>
        <EditForm id="@_editFormId" EditContext="_editContext" OnValidSubmit="@HandleValidFormSubmitted">
            <CustomValidation @ref="_customValidation" />
            <div class="row mb-2">
                <div class="col">
                    <HxAutosuggest @ref="_productName"
                                   id="product-name"
                                   Placeholder="Ange namn"
                                   TItem="string"
                                   TValue="string"
                                   @bind-Value="@_form.ProductName"
                                   DataProvider="ProvideSuggestionsToProductNameAutosuggest"
                                   ShowValidationMessage=false>
                        <ItemTemplate Context="productName">@productName</ItemTemplate>
                        <EmptyTemplate>
                            <span class="p-2">Kan inte hitta produkt med angivet namn.</span>
                        </EmptyTemplate>
                    </HxAutosuggest>
                    <ValidationMessage For="() => _form.ProductName" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input type="text" id="amount" name="amount" class="form-control" @bind="_form.Amount" placeholder="Ange mängd (gram/portioner)">
                    <ValidationMessage For="() => _form.Amount" />
                </div>
            </div>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <ProcessingButton @ref="_processingButtonSubmit" Label="Lägg till" EditFormId="@_editFormId" />
        <button class="btn btn-secondary" type="button" @onclick="@(_ => HandleCancel())">Avbryt</button>
    </FooterTemplate>
</HxModal>