@using BlazingRecept.Client.Components.PageComponents.Base
@using BlazingRecept.Client.Components.Common
@using BlazingRecept.Shared.Dto
@using static BlazingRecept.Client.Pages.DailyIntake

@inherits PageComponentBase

@if (IsLoading)
{
    <LoadingSpinner Text="Laddar..." />
}
else
{
    <div class="card mb-2">
        <div class="card-body">
            @if (DailyIntakeEntryDtos != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th class="col-1"></th>
                                <th class="col-2">Namn</th>
                                <th class="col-1">Mängd</th>
                                <th class="col-1">Fett</th>
                                <th class="col-1">Kolhydrater</th>
                                <th class="col-1">Protein</th>
                                <th class="col-1">Kalorier</th>
                                <th class="col-1">Protein/kalori</th>
                                <AuthorizeView>
                                    <th class="col-3">Åtgärder</th>
                                </AuthorizeView>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CheckableDailyIntakeEntry checkableDailyIntakeEntryDto in _checkableDailyIntakeEntries)
                            {
                                DailyIntakeEntryDto dailyIntakeEntryDto = checkableDailyIntakeEntryDto.DailyIntakeEntryDto;
                                <tr id="@dailyIntakeEntryDto.Id" class=@GetDailyIntakeEntryRowClass(checkableDailyIntakeEntryDto)>
                                    <td class="col-1"><input class="form-check-input" type="checkbox" @bind="@checkableDailyIntakeEntryDto.IsChecked"></td>
                                    <td class="col-2">@dailyIntakeEntryDto.ProductName</td>
                                    @if (_uneditedDailyIntakeEntryDto != null && _uneditedDailyIntakeEntryDto.Id == dailyIntakeEntryDto.Id)
                                    {
                                        <td class="col-1">
                                            <input type="text" id="amount" name="amount" class="form-control" @bind="@dailyIntakeEntryDto.Amount">
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="col-1">@GetAmount(dailyIntakeEntryDto)</td>
                                    }
                                    <td class="col-1">@GetFat(dailyIntakeEntryDto)</td>
                                    <td class="col-1">@GetCarbohydrates(dailyIntakeEntryDto)</td>
                                    <td class="col-1">@GetProtein(dailyIntakeEntryDto)</td>
                                    <td class="col-1">@GetCalories(dailyIntakeEntryDto)</td>
                                    <td class="col-1">@GetProteinPerCalorie(dailyIntakeEntryDto)</td>
                                    @if (_uneditedDailyIntakeEntryDto != null && _uneditedDailyIntakeEntryDto.Id == dailyIntakeEntryDto.Id)
                                    {
                                        <AuthorizeView>
                                            <td class="col-3">
                                                <button class="btn btn-success btn-sm" @onclick="() => HandleDailyIntakeEntryEditSubmitClickAsync(dailyIntakeEntryDto)">
                                                    <i class="fa-solid fa-check"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm" @onclick="() => HandleDailyIntakeEntryEditCancelClick(dailyIntakeEntryDto)">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </td>
                                        </AuthorizeView>
                                    }
                                    else
                                    {
                                        <AuthorizeView>
                                            <td class="col-3">
                                                <button type="button" class="btn btn-primary btn-sm" disabled="@(_uneditedDailyIntakeEntryDto != null)" @onclick="() => HandleDailyIntakeEntryMoveUpInOrderClickAsync(dailyIntakeEntryDto)">
                                                    <i class="fa-solid fa-arrow-up"></i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm" disabled="@(_uneditedDailyIntakeEntryDto != null)" @onclick="() => HandleDailyIntakeEntryMoveDownInOrderClickAsync(dailyIntakeEntryDto)">
                                                    <i class="fa-solid fa-arrow-down"></i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm" disabled="@(_uneditedDailyIntakeEntryDto != null)" @onclick="() => HandleDailyIntakeEntryEditClick(dailyIntakeEntryDto)">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" disabled="@(_uneditedDailyIntakeEntryDto != null)" @onclick="() => HandleDailyIntakeEntryRemoveClickAsync(dailyIntakeEntryDto)">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </td>
                                        </AuthorizeView>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            @if(AnyRowHasBeenChecked())
                            {
                                <tr>
                                    <th class="col-1"></th>
                                    <th class="col-2">Checked</th>
                                    <th class="col-1"></th>
                                    <th class="col-1">@GetCheckedFatTotal()</th>
                                    <th class="col-1">@GetCheckedCarbohydrateTotal()</th>
                                    <th class="col-1">@GetCheckedProteinTotal()</th>
                                    <th class="col-1">@GetCheckedCalorieTotal()</th>
                                    <th class="col-1">@GetCheckedAverageProteinPerCalorie()</th>
                                    <AuthorizeView>
                                        <th class="col-3"></th>
                                    </AuthorizeView>
                                </tr>
                            }
                            <tr>
                                <th class="col-1"></th>
                                <th class="col-2">Total</th>
                                <th class="col-1"></th>
                                <th class="col-1">@GetFatTotal()</th>
                                <th class="col-1">@GetCarbohydrateTotal()</th>
                                <th class="col-1">@GetProteinTotal()</th>
                                <th class="col-1">@GetCalorieTotal()</th>
                                <th class="col-1">@GetAverageProteinPerCalorie()</th>
                                <AuthorizeView>
                                    <th class="col-3"></th>
                                </AuthorizeView>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            <AuthorizeView>
                <div>
                    <button type="button" class="btn btn-primary" @onclick="@(_ => HandleDailyIntakeEntryAddClickAsync())">Lägg till produkt</button>
                </div>
            </AuthorizeView>
        </div>
    </div>
}
